.navbar-dark {
    background-color: #4285f4 !important;
}

a:hover { 
    color: white;
}

.view {
    background: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}